.announcement {
    color:#ffffff;
    margin-bottom: 46px;
    font-size: 18px;
    font-weight: light;
    line-height: 30px; 
    width: 100%;
}
.announcement__container {
    background: url('../../../img/exclamations.png') center center #4b73b5;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    margin-right: 20px;
}

.booking {
    font-weight: bold;
    font-style: initial;
    color: white;
}

.contacts__phone-ann {
    font-size: 18px;
}