.news__list {
  display: flex;
  direction: row;
  flex-wrap: wrap;
}

.news__item {
  border-bottom: 2px solid #e8e9ed;
  margin-bottom: 20px;
  display: flex;
}

.news__item-col {
  width: calc(100% / 3);
  display: block;
  border-bottom: transparent;
  padding-right: 20px;
}

.news__item-col:last-child {
  margin-right: 0;
}

.news__item:last-child {
  border-bottom: 2px transparent; 
}

.news__item-pic-col {
  Padding-bottom: 20px;
  padding-left: 25px;
}

.news__avatar {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
}

.news__avatar-elem {
  max-width: 100%;
  display: block;
}
  
.news__items-rev {
  width: 644px;
  max-width: 100%;
  text-align: left;
  color: #212121;
  display: inline-block;
  padding-bottom: 15px;
  padding-left:20px;
}
  
.news__items-rev-col {
  padding-left: 0px;
}

.date {
  display: block;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 1.5;
  color: #656464;
}

.subsection__title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
  letter-spacing: normal;
  text-transform: none;
} 
