.pagination {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__pages-list{
    display: flex;
}

.pagination__display {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: #656464;
    margin-right: 20px;
}

.pagination__controlls {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #221f1f;
    display: flex;
}

.pagination__pages-item {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #221f1f;
    width: 25px;
    height: 25px;
    padding-top: 3px;
}

.pagination__pages-link, .pagination__pages-link--active {
    color: #221f1f;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.pagination__pages-link:hover, .pagination__pages-link--active {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    vertical-align: middle; 
    color:white;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #4b73b5;
    transition: 0.5s ease;
}

.pagination__next, .pagination__prev {
    color: #221f1f;
    width: 6px;
    height: 10px;
    margin: 0 20px;
}