.partners {
    margin-bottom: 20px;
}

.partners__list {
    direction: column;
}

.partners__item {
    justify-content: center;
    padding-top: 45px;
}

.partner {
    filter: grayscale(1);
}

.partner:hover {
    filter: grayscale(0);
}